body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover  ;
  /*

  /* background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(218, 206, 208, 0.507);
  --surface-color: rgba(110, 86, 91, 0.24);
  --bilau-color: rgba(247, 0, 227, 0.247);
  --color-links: rgba(247, 0, 227, 0.247);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: black;
  --surface-color: rgba(5, 5, 5, 0.267);
  --bilau-color: rgba(163, 160, 173, 0.507);
  --color-links: rgba(163, 160, 173, 0.507);
  --switch-bg-url: url(./assets/sun.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  padding-top: 56px;
  margin: auto;
  width: 100%;
  max-width: 588px;
  margin-top: 54px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 1px;
}

#profile img {
  display: block;
  width: 112px;
  margin: auto;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
  padding: 5px;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  background: white var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translateY(50%);
  bottom: 50%;
  left: 0;
  transition: all 0.3s ease;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

p {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 24px 0;
}
ul li a {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 10px;
  backdrop-filter: 5px;
  text-decoration: none;
  font-weight: 500;

  transition: 0.4s ease;
}
ul li a:hover {
  transform: translateY(-3px);
  background-color: var(--bilau-color);
}
#social-links {
  display: flex;
  justify-content: center;
  padding: 1px 0;
  font-size: 20px;
  margin-top: 1px;
}
#social-links a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px;
  border-radius: 50%;
}
#social-links a:hover {
  transform: translateY(-5px);
  background-color: var(--color-links);
  border-radius: 50%;
  transition: 0.8s;
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
